<h1>Organization Databse</h1>

<%= link_to 'New organization', new_article_path %> 

<table>
  <tr>
    <th>Organization Name</th>
    <th>Mission Statement</th>
    <th>Organization Page</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'More info', article_path(article) %></td>
    </tr>
  <% end %>
</table>