// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search-form-container {
    border: 2px solid;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}